.body {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

.top-cards-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 2vh; */
}

.top-cards-heading h3 {
  font-size: 2rem;
  margin: 2vh 0;
  color: var(--text-primary);
}

.top-cards-container {
  height: min(25vw);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4vh;
}

.top-card {
  box-shadow: 0px 0px 15px -8px var(--text-primary);
  width: 25%;
  height: 33vh;
  border-radius: 1rem;
  transition: 200ms ease-in-out;
  position: relative;
  z-index: 1;
  color: var(--text-primary);
}

.top-card:hover {
  transform: translateY(-1rem) scale(1.02);
  box-shadow: 0px 3px 15px -5px var(--text-primary);
  background-color: #fff9f4;
}

.top-card img{
  transition: 350ms ease-in-out;
}

.top-card:hover img{
  stroke: 1px black;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 3px #2222229a);
}

#top-card1 img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(-3%, 0);
}
#top-card2 img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(16%, 0);
}
#top-card3 img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(5%, 0);
}
#top-card1:hover img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(-3%, -25%);
}
#top-card2:hover img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(16%, -25%);
}
#top-card3:hover img {
  position: absolute;
  z-index: -2;
  height: 80%;
  transform: translate(5%, -28%);
}

.top-card-top {
  height: 75%;
  transition: 400ms ease-in-out;
}

.top-card:hover .top-card-top{
  height: 50%;
}

.top-card-bottom {
  margin-top: 1ch;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0 1vw;
  overflow: hidden;
}

.top-card-bottom h4 {
  margin: 1vh 0;
  font-size: 1.4rem;
  transition: 500ms ease-in-out;
}
.top-card:hover .top-card-bottom h4{
  font-size: 1rem;
}

.top-card-bottom p {
  margin: 0;
  opacity: 0%;
  transform: scale(0) translateY(-5rem);
  /* display: none; */
  transition: 400ms ease-in-out;
}
.top-card:hover .top-card-bottom p{
  display: flex;
  opacity: 60%;
  transform: scale(1) translateY(0);
}