.container {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  background-color: var(--background);
  min-height: 80vh;
}

.container-left {
  width: 50%;
  margin-top: 10vh;
}

.container-left-heading {
  color: var(--text-primary);
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: 0.011ch;
  line-height: 1.5ch;
  width: 90%;
}

.container-left-heading span {
  color: var(--primary);
}

.container-left-content {
  margin-top: 2vh;
  font-size: 1.2rem;
  opacity: 60%;
}

.container-left-buttons {
  margin-top: 5vh;
  display: flex;
}

.container-left-buttons button {
  background-color: var(--primary);
  margin-right: 2vw;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-secondary);
  padding: 0.5ch 2ch;
  border-radius: 2rem;
  letter-spacing: 0.09ch;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    var(--primary-gradient-1),
    var(--primary-gradient-2),
    var(--primary-gradient-2),
    var(--primary-gradient-1)
  );
  /* box-shadow: 0 0px 8px 0 rgba(229, 66, 10, 0.75); */
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.container-left-buttons button:hover {
  background-position: 100% 0;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  transform: scale(1.05);
  animation-name: container-left-button-hover-spring;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

@keyframes container-left-button-hover-spring {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.08);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.05);
  }
}

.container-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-right-circle {
  /* margin-top: 5vh; */
  height: 65vh;
  background-size: 300% 200%;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-gradient-2),
    var(--primary-gradient-1),
    var(--primary-gradient-1),
    var(--primary-gradient-2)
  );
  border-radius: 100%;
  aspect-ratio: 1;
  transition: 300ms;
  animation-name: container-right-circle-gradient;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes container-right-circle-gradient {
  0% {
    transform: rotate(0deg);
    background-position: 0% 0;
  }
  20% {
    background-position: 100% 0;
  }
  30% {
    background-position: 80% 0;
  }
  50% {
    transform: rotate(230deg);
    background-position: 0% 0;
  }
  70% {
    background-position: 100% 0;
  }
  80% {
    background-position: 80% 0;
  }
  100% {
    transform: rotate(0deg);
    background-position: 0% 0;
  }
}

.container-right img {
  position: absolute;
  height: 70vh;
  margin-top: -10vh;
}

.animated-text-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 400;
  background-color: #ffffff;
  border-radius: 2ch;
  width: 40vw;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
}

.animated-area{
    display: flex;
    flex-direction: row;
    margin-top: -10vh;
    align-items: center;
}

.animated-area button{
    
    height: 8vh;
    background-color: var(--primary);
    border-radius: 10ch;
    border: none;
    font-size: 2ch;

}