* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 10;
  position: fixed;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: transparent;
  /* transition: 300ms ease-in-out; */
  width: calc(100vw - (var(--page-padding-left) + var(--page-padding-right)));
  margin: 0;
  /* animation: navbar-fix-animation 200ms ease-out 0ms 1 reverse;   */
}

.navbar.fixed {
  background-color: var(--background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: navbar-fix-animation 200ms;
}

@keyframes navbar-fix-animation {
  0% {
    background-color: transparent;
    padding-bottom: 8vh;
    margin-bottom: -6vh;
  }
  60% {
    background-color: var(--background);
  }
  100% {
    margin-bottom: 0;
    padding-bottom: 2vh;
  }
}

.navbar.fixed:hover {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand img {
  height: 3.8rem;
}

.navbar-brand-name {
  color: var(--primary);
  font-weight: 800;
  font-size: 2.55rem;
  letter-spacing: 0.05ch;
  margin-left: 0.8rem;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-item {
  font-size: 1.5rem;
  /* padding: 1vh 1vw; */
  margin-left: 2.75ch;
  font-weight: 500;
  color: var(--text-primary);
  letter-spacing: 0.01ch;
  transition: 240ms ease;
}

.navbar-item:not(#navbar-item-login):hover {
  color: var(--primary);
  cursor: pointer;
  transform: translateY(-2px);
  animation-name: navbar-item-hover-bounce;
  animation-duration: 169ms;
  animation-iteration-count: 1;
}

.navbar-item-selected {
  font-size: 1.5rem;
  /* padding: 1vh 1vw; */
  margin-left: 2.75ch;
  font-weight: 500;
  letter-spacing: 0.01ch;
  transition: 240ms ease;
  color: var(--primary);
  cursor: default;
}

@keyframes navbar-item-hover-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY((-1px));
  }
  100% {
    transform: translateY(-2px);
  }
}

.navbar-item button {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
  padding: 0.5ch 2ch;
  border-radius: 2rem;
  letter-spacing: 0.09ch;
  background-size: 500%;
  background-image: linear-gradient(
    145deg,
    var(--primary-gradient-1),
    var(--primary-gradient-2),
    var(--primary-gradient-1),
    var(--primary-gradient-2),
    var(--primary-gradient-1)
  );
  /* box-shadow: 0 0px 8px 0 rgba(229, 66, 10, 0.75); */
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.navbar-item button:hover {

  background-position: 100% 0;
  animation: changeGradientAnimation 20000ms linear infinite;

  /* background-position: 100% 0;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; */
}


@keyframes changeGradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 500%;
  }
}
