* {
  font-family: "Montserrat";
}

.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.back-button {
  position: fixed;
  top: 3vh;
  left: 2vw;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in;
}

.back-button:hover {
  transform: scale(1.1);
  color: var(--primary);
}

.back-button p {
  margin: 0;
  margin-left: 0.5ch;
  transition: 300ms ease-in;
  transition-property: margin;
}

.back-button:hover p {
  margin-left: 1ch;
}

.transition-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  /* display: none; */
  z-index: -100;
}

.fade-out {
  animation: fadeout 1000ms;
}

.fade-in {
  animation: fadein 300ms;
  z-index: 100;
}

@keyframes fadeout {
  from {
    opacity: 1;
    display: flex;
    z-index: 100;
  }
  to {
    opacity: 0;
    display: flex;
    z-index: 100;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    display: flex;
    z-index: 100;
  }
  to {
    opacity: 1;
    display: flex;
    z-index: 100;
  }
}
