* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Montserrat";
}

#content {
  width: 25vw;
  padding: 3vw;
  box-shadow: 0 11px 17px 5px rgb(0 0 0 / 33%);
  border-radius: 5vh;
  background-color: var(--background);
}

#content > h1 {
  color: var(--primary);
  text-align: center;
}

#content > p {
  margin-top: 1ch;
  color: var(--text-primary);
  text-align: center;
  font-weight: 500;
}

.input-bar {
  width: 25vw;
  height: 8vh;
  border: 2px solid #000;
  border-radius: 2vw;
  margin: 3vh 0 0 0;
  opacity: 0.5;
  /* transition: 200ms; */
  font-weight: 600;
  position: relative;
}

.input-bar > label {
  position: absolute;
  font-size: 1.2rem;
  text-transform: capitalize;
  top: 2vh;
  left: 3vw;
  /* transition: 200ms; */
}

.input-bar > input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 20px 45px 10px;
  font-size: 1.2rem;
}

.input-bar > box-icon {
  position: absolute;
  width: 26px;
  top: 17px;
  left: 10px;
}

.focus {
  opacity: 1;
}

.focus > label {
  top: 2px;
  font-size: 12px;
}

#btn {
  width: 25vw;
  border: none;
  padding: 15px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 3vh;
  background-size: 500%;
  background-image: linear-gradient(
    145deg,
    var(--primary-gradient-1),
    var(--primary-gradient-2),
    var(--primary-gradient-1),
    var(--primary-gradient-2),
    var(--primary-gradient-1)
  );
  /* -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; */
  cursor: pointer;
}

#btn:hover {
  background-position: 100% 0;
  animation: changeGradientAnimation 20000ms linear infinite;

  /* -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; */
}

.login-trouble {
  padding-left: 1.8vw;
  font-weight: 500;
  margin-top: 1vh;
}

.or-sign-in {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.or-sign-in span {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 1ch 0 1ch;
}

.or-sign-in::after,
.or-sign-in::before {
  width: 2vw;
  background-color: black;
  height: 0.2vh;
  content: "";
}

#sign-in-with-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  border: 2px solid grey;
  color: var(--text-primary);
  background-color: transparent;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 1vh;
}

#sign-in-with-google:hover {
  border: 2px solid #000;
  background-color: var(--background);
}

.play-on-hover {
  padding-right: 1ch;
  height: 8vh;
  width: 8vh;
  background-image: url("../../assets/google-logo.jpg");
  background-size: cover;
}

#sign-in-with-google:hover .play-on-hover {
  background-image: url("../../assets/google_logo.gif");
}

#element {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -50vw;
  transform: rotateZ(-90deg);
}

.open #content {
  animation: content-open-animation 500ms;
}

.open #element {
  animation: element-open-animation 900ms;
}

.closed {
  --close-animation-duration: 300ms;
  animation: open-close-animation var(--close-animation-duration);
  visibility: hidden;
}

.closed #content {
  animation: content-close-animation var(--close-animation-duration);
}

.closed #element {
  animation: element-close-animation var(--close-animation-duration);
}

@keyframes content-open-animation {
  from {
    transform: translateX(-50%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes element-open-animation {
  from {
    right: -100vw;
    opacity: 0;
  }
  to {
    right: -50vw;
    opacity: 1;
  }
}

@keyframes content-close-animation {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
    visibility: visible;
  }
}

@keyframes element-close-animation {
  from {
    right: -50vw;
    opacity: 1;
  }
  to {
    right: -100vw;
    opacity: 0;
  }
}

@keyframes open-close-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}


@keyframes changeGradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 500%;
  }
}

.switch-side{
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 6vh;
  font-size: 1.5rem;
}

.switch-side-button{
  background-color: var(--primary);
  border: none;
  border-radius: 100%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-left: -2.2ch;
  transition: 1000ms ease;
  aspect-ratio: 1;
  height: 2ch;
}
.switch-side-text{
  position: fixed;
  font-weight: 600;
  color: var(--primary);
  transition: 1000ms ease;
}

.switch-side:hover .switch-side-button{
  padding-left: 9ch;
  border-radius: 10ch;
  cursor: pointer;
}

.switch-side:hover .switch-side-text{
  color: #fff;
  cursor: pointer;
}


