* {
  font-family: "Montserrat";
}

#content {
  width: 25vw;
  padding: 3vw;
  box-shadow: 0 11px 17px 5px rgb(0 0 0 / 33%);
  border-radius: 5vh;
  background-color: var(--background);
}

.open {
  animation: content-open-animation 400ms,
    content-close-animation 400ms ease-in-out 400ms 1 reverse;
}

.closed {
  visibility: hidden;
}

.closed #content {
  animation: content-close-animation 400ms ease-in-out;
  overflow: hidden;
  transform-origin: 0% 50%;
}

@keyframes content-close-animation {
  0% {
    transform: scale(1) translateX(0);
    visibility: visible;
    opacity: 1;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    transform: scale(0) translateX(-50vw);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes content-open-animation {
  from {
    visibility: hidden;
  }
  to {
    visibility: hidden;
  }
}
